debug.log
node_modules
dist
.vscode
.env
.env2
backups
my_username
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.npm
screenshots/
*.gz
uploads/
pipeline/
.DS_Store
minio-data/*
*.s3cfg
# Sentry Config File
.env.sentry-build-plugin
