name: Deploy to production

on:
  release:
    types: [published]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: gptwrapper
          tags: production ${{ github.sha }}
          containerfiles: |
            ./Containerfile
          build-args: |
            BASE_PATH=/chat
            GIT_SHA=${{ github.sha }}
            STAGING=false
          extra-args: --ulimit nofile=4096:4096

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}

  sentry-release:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - uses: actions/checkout@v4

      - name: Pull image and create a container
        run: docker create --name gptwrapper quay.io/toska/gptwrapper:production

      - name: Copy assets from the container
        run: docker cp gptwrapper:/opt/app-root/src/dist ./dist

      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_URL: https://toska.cs.helsinki.fi/
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
          SENTRY_ORG: toska
          SENTRY_PROJECT: gptwrapper
        with:
          environment: production
          set_commits: 'skip'
          sourcemaps: ./dist/assets
          url_prefix: '~/assets'
